<div><strong>news</strong></div>

<table class="table">
  <thead>
    
  </thead>
  <tbody>
     <tr>
         <% @articles.each do |article| %>
         <td><%= article.title %></td>
         <td><%= article.body %></td>
     </tr>
     <% end %>
  </tbody>
</table>