<table class="table">
    <thead>
      <tr>
          <th></th>
          <th><%= @article.title %></th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td></td>
          <td><%= @article.body %></td>
          <td></td>
          <td></td>
      </tr>
    </tbody>
</table>

<div>コメント一覧</div>

<table>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
</table>
