<div class="container">
  <div class="col text-center mt-3">
    <h5>フォロワー</h5>
  </div>
  <div class="col text-center">
    <%  @user.followers.all.each do |user| %>
    <hr>
    <%= link_to user.name, user_path(user.id) %>
    <% end %>
  </div>
</div>