<div class="container">
  <div class="row">
    <div class="col mt-5 text-center">
      <h1>
        ようこそ<strong>IDEAL BODY!!!</strong>へ！！！
      </h1>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    この​サイトは日常的にトレーニングを行っている人や興味のある人に向けたコミュニティサイトです。<br>
    モチベーションを上げたい！他の方がどんなトレーニングをしているか興味がある人は是非活用してください！<br>
    会員登録すれば日々のタスク管理も行えます。<br>
    より多くの人がトレーニングを通して憧れる自分に到達できることをこのサイトは応援したいです。
  </div>
  <div class="row mt-5 justify-content-center">
    <%= link_to "記事一覧へ", articles_path, class:"btn btn-outline-warning" %>
  </div>
</div>