<div><strong>IDEAl BODY!!!</strong></div>

<div>ようこそIDEAL BODY へ！！！</div>
<div>
  この​サイトは日常的にトレーニングを行っている人や興味のある人に向けたコミュニティサイトです。<br>
  モチベーションを上げたい！、他の方がどんなトレーニングをしているか興味がある人は是非活用してください！。<br>
  会員登録すれば日々のタスク管理も行えます。<br>
  より多くの人がトレーニングを通して憧れる自分に到達できることをこのサイトは応援したいです。
</div>

<div><%= link_to "記事一覧へ", articles_path %></div>