
<%= search_form_for @search, url: articles_path do |f| %>
  <div class="row">
    <div class="col text-center">
      <%= f.text_field :title_cont ,placeholder: '検索するテキストを入力...' %>
      <%= f.submit ("検索") , class: 'search-btn' %>
    </div>
　</div>
<% end %>
 
